@import "../../common/EleFXColor.css";

.ele-progress { -fx-background-color: transparent; -fx-background-insets: 0; }
.ele-progress--line { -fx-alignment: center-left; -fx-spacing: 5px; }
.ele-progress-bar__outer { -fx-alignment: center-left; }
.ele-progress-bar__background { -fx-fill: -elefx-cf-base; }
.ele-progress-bar__inner { -fx-fill: -elefx-cp-1; }
.ele-progress-bar__stripe { -fx-opacity: 1; }
.ele-progress--circle { -fx-alignment: center; }
.ele-progress-circle__track { -fx-stroke: -elefx-cb-lighter; }
.ele-progress-circle__path { -fx-stroke: -elefx-cp-1; }
.ele-progress__text { -fx-alignment: center; -fx-text-alignment: center; -fx-text-fill: -elefx-ct-primary; -fx-font-size: 14px; }
.ele-progress--circle .ele-progress__text { -fx-font-size: 16px; }
.ele-progress__text-slot { -fx-alignment: center-left; }
.ele-progress__status-icon { -fx-min-width: 16px; -fx-min-height: 16px; -fx-pref-width: 16px; -fx-pref-height: 16px; }
.ele-progress-bar__outer .ele-progress__text { -fx-text-fill: white; -fx-font-size: 12px; }
