@import "Fonts.css";
@import "EleFxColor.css";

.ele-button {
    -fx-padding: 2px 12px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
    -fx-background-insets: 0px;
}

.ele-button--default,
.ele-button--default:focused {
    -fx-text-fill: -elefx-charcoal-he;
    -fx-background-color: -elefx-white-he;
    -fx-border-color: -elefx-white-le;
}

.ele-button--default:hover {
    -fx-background-color: -elefx-white-me;
}

.ele-button--primary,
.ele-button--primary:focused {
    -fx-text-fill: -elefx-white-he;
    -fx-background-color: -elefx-blue-me;
    -fx-border-color: -elefx-blue-me;
}

.ele-button--primary:hover {
    -fx-background-color: -elefx-blue-le;
    -fx-border-color: -elefx-blue-le;
}

.ele-button--success,
.ele-button--success:focused {
    -fx-text-fill: -elefx-white-he;
    -fx-background-color: -elefx-green-me;
    -fx-border-color: -elefx-green-me;
}

.ele-button--success:hover {
    -fx-background-color: -elefx-green-le;
    -fx-border-color: -elefx-green-le;
}

.ele-button--info,
.ele-button--info:focused {
    -fx-text-fill: -elefx-white-he;
    -fx-background-color: -elefx-charcoal-me;
    -fx-border-color: -elefx-charcoal-me;
}

.ele-button--info:hover {
    -fx-background-color: -elefx-charcoal-le;
    -fx-border-color: -elefx-charcoal-le;
}

.ele-button--warning,
.ele-button--warning:focused {
    -fx-text-fill: -elefx-white-he;
    -fx-background-color: -elefx-yellow-me;
    -fx-border-color: -elefx-yellow-me;
}

.ele-button--warning:hover {
    -fx-background-color: -elefx-yellow-le;
    -fx-border-color: -elefx-yellow-le;
}

.ele-button--danger,
.ele-button--danger:focused {
    -fx-text-fill: -elefx-white-he;
    -fx-background-color: -elefx-red-me;
    -fx-border-color: -elefx-red-me;
}

.ele-button--danger:hover {
    -fx-background-color: -elefx-red-le;
    -fx-border-color: -elefx-red-le;
}

.ele-button:pressed {
    -fx-opacity: 0.85;
}

.ele-button:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
}