* {
  -elefx-white-he: #ffffff;
  -elefx-white-me: #f5f5f5;
  -elefx-white-le: #dcdfe6;
  -elefx-blue-me: #409eff;
  -elefx-blue-le: #66b1ff;
  -elefx-green-me: #67c23a;
  -elefx-green-le: #85ce61;
  -elefx-charcoal-he: #606266;
  -elefx-charcoal-me: #909399;
  -elefx-charcoal-le: #a6a9ad;
  -elefx-yellow-me: #e6a23c;
  -elefx-yellow-le: #ebb563;
  -elefx-red-me: #f56c6c;
  -elefx-red-le: #f78989;
}
