@import "../../common/EleFXFonts.css";
@import "../../common/EleFXColor.css";

.ele-button {
    -fx-padding: 2px 12px;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-font-size: 14px;
    -fx-background-insets: 0px;
}

.ele-button--circle {
    -fx-min-width: 32px;
    -fx-min-height: 32px;
    -fx-pref-width: 32px;
    -fx-pref-height: 32px;
    -fx-max-width: 32px;
    -fx-max-height: 32px;
    -fx-padding: 8px;
    -fx-background-radius: 999px;
    -fx-border-radius: 999px;
}

.ele-button--default,
.ele-button--default:focused {
    -fx-text-fill: -elefx-ct-regular;
    -fx-background-color: -elefx-co-white-bg;
    -fx-border-color: -elefx-cb-darker;
}

.ele-button--default:hover {
    -fx-background-color: -elefx-co-base-bg;
}

.ele-button--primary,
.ele-button--primary:focused {
    -fx-text-fill: -elefx-cf-blank;
    -fx-background-color: -elefx-cp-1;
    -fx-border-color: -elefx-cp-1;
}

.ele-button--primary:hover {
    -fx-background-color: -elefx-cp-l3;
    -fx-border-color: -elefx-cp-l3;
}

.ele-button--success,
.ele-button--success:focused {
    -fx-text-fill: -elefx-cf-blank;
    -fx-background-color: -elefx-cs-1;
    -fx-border-color: -elefx-cs-1;
}

.ele-button--success:hover {
    -fx-background-color: -elefx-cs-l3;
    -fx-border-color: -elefx-cs-l3;
}

.ele-button--info,
.ele-button--info:focused {
    -fx-text-fill: -elefx-cf-blank;
    -fx-background-color: -elefx-ci-1;
    -fx-border-color: -elefx-ci-1;
}

.ele-button--info:hover {
    -fx-background-color: -elefx-ci-l3;
    -fx-border-color: -elefx-ci-l3;
}

.ele-button--warning,
.ele-button--warning:focused {
    -fx-text-fill: -elefx-cf-blank;
    -fx-background-color: -elefx-cw-1;
    -fx-border-color: -elefx-cw-1;
}

.ele-button--warning:hover {
    -fx-background-color: -elefx-cw-l3;
    -fx-border-color: -elefx-cw-l3;
}

.ele-button--danger,
.ele-button--danger:focused {
    -fx-text-fill: -elefx-cf-blank;
    -fx-background-color: -elefx-cd-1;
    -fx-border-color: -elefx-cd-1;
}

.ele-button--danger:hover {
    -fx-background-color: -elefx-cd-l3;
    -fx-border-color: -elefx-cd-l3;
}

.ele-button:pressed {
    -fx-opacity: 0.85;
}

.ele-button:disabled {
    -fx-opacity: 0.5;
    -fx-cursor: default;
}
