@import "../../common/EleFXFonts.css";
@import "../../common/EleFXColor.css";

.ele-card {
    -fx-background-color: -elefx-co-white-bg;
    -fx-background-insets: 0;
    -fx-background-radius: 4px;
    -fx-border-color: -elefx-cb-light;
    -fx-border-insets: 0;
    -fx-border-radius: 4px;
    -fx-border-width: 1px;
}
.ele-card__header { -fx-padding: 16px 20px; -fx-border-color: transparent transparent -elefx-cb-light transparent; -fx-border-width: 0 0 1px 0; }
.ele-card__header-text, .ele-card__footer-text { -fx-text-fill: -elefx-ct-primary; -fx-font-size: 14px; }
.ele-card__body { -fx-padding: 20px; }
.ele-card__footer { -fx-padding: 16px 20px; -fx-border-color: -elefx-cb-light transparent transparent transparent; -fx-border-width: 1px 0 0 0; }
.ele-card--shadow-always { -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 12, 0, 0, 2); }
.ele-card--shadow-hover { -fx-effect: null; }
.ele-card--shadow-hover:hover { -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 12, 0, 0, 2); }
.ele-card--shadow-never { -fx-effect: null; }
