@import "../../common/EleFXColor.css";

.ele-icon {
    -fx-alignment: center;
}

.ele-icon .ele-icon__svg {
    -fx-fill: -elefx-ct-regular;
}

.ele-button--primary .ele-icon .ele-icon__svg,
.ele-button--success .ele-icon .ele-icon__svg,
.ele-button--info .ele-icon .ele-icon__svg,
.ele-button--warning .ele-icon .ele-icon__svg,
.ele-button--danger .ele-icon .ele-icon__svg {
    -fx-fill: -elefx-cf-blank;
}
