.ele-splitter {
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.ele-splitter > .split-pane-divider {
    -fx-background-color: -elefx-cb-light;
    -fx-padding: 0 1px;
}

.ele-splitter > .split-pane-divider:hover {
    -fx-background-color: -elefx-cp-1;
}

.ele-splitter-panel {
    -fx-background-color: transparent;
}
