@import "../../common/EleFXColor.css";

.ele-rate { -fx-spacing: 8px; -fx-alignment: center-left; }
.ele-rate:focused { -fx-background-color: transparent; -fx-background-insets: 0; -fx-border-color: transparent; -fx-border-insets: 0; -fx-border-width: 0; }
.ele-rate__icons { -fx-spacing: 6px; -fx-alignment: center-left; }
.ele-rate__item { -fx-alignment: center; -fx-cursor: hand; }
.ele-rate:disabled .ele-rate__item { -fx-cursor: default; }
.ele-rate__text { -fx-font-size: 14px; -fx-text-fill: -elefx-ct-primary; }
